[core]
	editor = code --wait
[push]
	default = current
[pull]
  ff = only
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  oldMoved = blue bold
  newMoved = blue bold
  oldMovedAlternative = cyan bold
  newMovedAlternative = cyan bold
[color "status"]
	added = cyan
	changed = yellow
	untracked = red
[alias]
  f = fetch -p
  r = rebase
  ri = rebase -i
	b = branch
	co = checkout
	cb = checkout -b
	c = !git add --all && git commit -m
	s = !git status -sb
	l = !git log --pretty=format:'%C(blue)%h%C(yellow)%d %C(white)%s - %C(cyan)[ %cn ], %C(green)%cr'
	amend = !git add --all && git commit --amend --no-edit
	count = !git shortlog -s --grep
[init]
	defaultBranch = main
